body{
	background-image: url(https://static.wikia.nocookie.net/marveldatabase/images/a/a9/Wanda_Maximoff_%28Earth-199999%29_from_WandaVision_Season_1_9_001.png/revision/latest?cb=20210305172301);
	border-width: 30px;

}
h1{
	font-size: 134%;
	text-align: center;
	color: yellow;
}